.f-poppins-800 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
}

.f-poppins-600 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;

}

.f-poppins-400 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
}

.f-inter-500 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
}